[Unit]
Description=Airplay Service
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/airplay/server.js
SyslogIdentifier=airplay
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
